<!doctype html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Bootstrap</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16" />

  </head>
  <body ng-controller="menuCtrl" ng-click="dismissAll($event)">
    <header>
      <div class="navbar navbar-default navbar-fixed">
        <div class="navbar-container">
          <!-- Desktop -->
          <ul class="hidden-sm" ng-repeat="menu in menus">
            <li title="{{menu.title}}" ng-click="shout(menu.title)">
              <i class="glyphicon glyphicon-{{menu.icon}}"></i>
              <span ng-bind="menu.html">Loading</span>
            </li>
          </ul>

          <!-- Mobile -->
          <ul class="hidden-md burger-menu" ng-click="toggleMenu()" ng-class="{active:menuOpen}">
            <li class="burger-menu__slice"></li>
            <li class="burger-menu__slice"></li>
            <li class="burger-menu__slice"></li>
          </ul>
          <div class="hidden-md burger-menu__content" ng-class="{open:menuOpen, closed:!menuOpen}">
            <ul ng-repeat="menu in menus">
              <li title="{{menu.title}}" ng-click="shout(menu.title)">
                <i class="glyphicon glyphicon-{{menu.icon}}"></i>
                {{menu.html}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class="container" ng-controller="indexCtrl">
      <div class="loading-image__container" ng-hide="1">
        <img src="assets/img/loader-large.svg" />
      </div>

      <div class="ng-hide" ng-show="loaded">
        <h1 class="title">Bootstrap</h1>
        <label>Message:</label>
        <input type="text" ng-model="message" placeholder="Test Message Binding" />
        <h1>{{message}}!</h1>
        <hr>
        <div>
          <span>Hidden: </span>
          <span class="hidden-xs">(xs), </span>
          <span class="hidden-sm">(sm), </span>
          <span class="hidden-md">(md), </span>
          <span class="hidden-lg">(lg)</span>
        </div>
        <div>
          <span>Visible: </span>
          <span class="visible-xs">(xs), </span>
          <span class="visible-sm">(sm), </span>
          <span class="visible-md">(md), </span>
          <span class="visible-lg">(lg)</span>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">Just some footnotes</div>
    </footer>

  <!-- Footer Scripts -->
  <script type="text/javascript" src="assets/vendor/angular/angular.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  </body>
</html>