<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TV Tracker</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16" />

    <!-- Mobile Tab Colors -->
    <meta name="theme-color" content="#333">
    <meta name="msapplication-navbutton-color" content="#333">
    <meta name="apple-mobile-web-app-status-bar-style" content="#333">
    <!-- Mobile Tab Colors -->

    <!-- Set that base -->
    <base href="/#/">
  </head>
  <body ng-controller="menuCtrl" ng-click="dismissAll($event)">

    <!-- NavBar / Header -->
    <header>
      <div class="navbar navbar-default navbar-fixed">
        <div class="navbar-container">

          <!-- Desktop -->
          <ul class="hidden-sm" ng-repeat="menu in menus">
            <li title="{{menu.title}}">
              <a href="{{menu.href}}">
                <i icon="{{menu.icon}}"></i>
                <span ng-bind="menu.html">Loading</span>
              </a>
            </li>
          </ul>

          <!-- Mobile -->
          <div class="visible-sm navbar-mobile-container">
            <a ng-if="showBackBtn" href="/#/">
              <i icon="arrow-left"></i>
            </a>
            <a class="logo" href="/#/">
              <span class="icon-desktop"></span>
              <span>TV Tracker</span>
            </a>
          </div>

          <ul class="hidden-md burger-menu" ng-click="toggleMenu()" ng-class="{active:menuOpen}">
            <li class="burger-menu__slice"></li>
            <li class="burger-menu__slice"></li>
            <li class="burger-menu__slice"></li>
          </ul>

          <div class="hidden-md burger-menu__content" ng-class="{open:menuOpen, closed:!menuOpen}">
            <ul ng-repeat="menu in menus">
              <li title="{{menu.title}}">
                <a href="{{menu.href}}">
                  <i class="glyphicon glyphicon-{{menu.icon}}"></i>
                  {{menu.html}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- NAVBAR / HEADER -->

    <!-- HEADING / LOGO -->
    <div class="text-center hidden-sm">
      <h1>
        <span class="icon-desktop"></span>
        TV Tracker
      </h1>
    </div>
    <!-- HEADING / LOGO -->

    <!-- CONTENT -->
    <div ng-view>
      <div class="loading-image__container" ng-hide="loaded">
        <img src="assets/img/loader-large.gif" />
      </div>
    </div>
    <!-- CONTENT -->

    <!-- FOOTER -->
    <footer class="footer">
      <div class="container text-center">
        <span class="icon-desktop"></span>
        TV Tracker
      </div>
    </footer>

  <!-- Application core scripts -->
  <script type="text/javascript" src="assets/vendor/angular/angular.min.js"></script>
  <script type="text/javascript" src="assets/vendor/underscore/underscore-min.js"></script>
  <!--<script type="text/javascript" src="assets/vendor/angular-jwt/dist/angular-jwt.min.js"></script>-->
  <script type="text/javascript" src="assets/vendor/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="assets/vendor/ng-fastclick/dist/index.min.js"></script>
  <script type="text/javascript" src="assets/vendor/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>

  <!-- Controllers -->
  <script type="text/javascript" src="app/components/controllers/menuCtrl.js"></script>
  <script type="text/javascript" src="app/components/controllers/loginCtrl.js"></script>
  <script type="text/javascript" src="app/components/controllers/detailCtrl.js"></script>

  <!-- Directives / Filters -->
  <script type="text/javascript" src="app/components/filters.js"></script>
  <script type="text/javascript" src="app/components/directives.js"></script>

  <!-- Services -->
  <script type="text/javascript" src="app/components/services/routes.js"></script>
  <script type="text/javascript" src="app/components/services/data.js"></script>
  <script type="text/javascript" src="app/components/services/serviceStorage.js"></script>
  </body>
</html>