<div class="loading-image__container" ng-hide="loaded">
  <img src="assets/img/loader-large.gif" />
</div>

<div class="container" ng-if="loaded">
    <div class="series__item">
        <div class="series__holder">
          <div class="series__title">&nbsp;</div>

          <div
            class="series__background"
            style="background-image: url('{{detail.poster | imageThumb}}')"
          >
            <img
              src="https://tvtracker.co.za/assets/img/overlay.png"
              alt="{{detail.seriesname}}"
            />
          </div>

          <div
            title={{detail.status}}
            class="series__status"
            ng-class="{'series__status--off':detail.status=='Ended','series__status--on':detail.status=='Continuing'}"
          ></div>
        </div>
    </div>

    <!-- SERIES DETAIL -->
    <div class="pull-right series__detail">
        <strong>{{detail.seriesname | limitTo: 25 }}</strong>
        <div>
            <strong>{{detail.seasons}}</strong>
            <span>Seasons</span>
        </div>

        <!-- RATINGS -->
        <div class="series__rating">
            <span ng-repeat="star in [1,2,3,4,5]" ng-if="star <= detail.rating" icon="star"></span>
            <span ng-repeat="star in [1,2,3,4,5]" ng-if="star > detail.rating" icon="star-empty"></span>
            &nbsp;
        </div>

        <!-- NETWORK -->
        <div>{{detail.network}}</div>
    </div>

    <div class="container">
        <h3>Overview</h3>
        <p ng-if="detail.overview.length < charLimit">
            {{detail.overview}}
            <span class="btn btn-sm" ng-click="showLess()">LESS</span>
        </p>
        <p ng-if="detail.overview.length > charLimit">
            {{detail.overview | limitTo: charLimit}}
            ...
            <span class="btn btn-sm" ng-click="showMore()">MORE</span>
        </p>
    </div>

    <!-- Show the amount of seasons available for the show -->
    <div class="container" name="seasons" id="seasons">
        <h3>Seasons</h3>
        <ul class="pagination pagination__detail" ng-if="detail.seasons">
            <!-- {'series__status--off':series.status=='Ended' -->
            <li ng-repeat="season in detail.seasons | pagination:page" ng-class="{'active':season==page, 'separator': (season=='next' || season=='prev')}">
                <span ng-click="setPage(season)" ng-if="!(season=='next' || season=='prev')">{{season}}</span>
            </li>
        </ul>
        <ul class="pagination__list" ng-if="episodeList">
            <li ng-repeat="episode in episodeList" ng-if="episode.s==page" toggle-class="open">
                <span episode-highlight></span>
                <span class="episode" ng-bind="episodeTitle(episode)"></span>&nbsp;
                <span>{{episode.name}}</span>
                <div class="clearfix"></div>
                <div class="details">
                    <span ng-if="episode.date" class="air-date">
                        {{episode.date * 1000|date:"dd MMM yyyy"}}
                    </span>
                    <p>
                        {{episode.overview}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>