<div class="loading-image__container" ng-hide="loaded">
  <img src="assets/img/loader-large.gif" />
</div>

<div class="container" scroll>
  <div
    ng-click="scrollToTheTop()"
    ng-hide="!scrollToTop"
    class="scroll-to-top"
   >
    <i class="glyphicon glyphicon-arrow-up"></i>
  </div>

  <!-- Main listing section -->
  <div class="ng-hide" ng-show="loaded">

    <!-- Search functionality -->
    <div class="add-on series__input">
      <input type="text" ng-model="search" ng-bind="searchTerm()" placeholder="Find show..." />
      <i ng-if="search" ng-click="clear('search')" class="glyphicon glyphicon-trash"></i>
    </div>

    <p ng-if="search">Searching for <b>{{search}}</b>...</p>

    <!-- Show the various states -->
    <div class="text-center">
      <div class="btn-group">
        <span
          class="btn btn-sm"
          ng-class="{'active':state=='Continuing'}"
          ng-click="listContext('continuing')"
        >Continuing</span>
        <span
          class="btn btn-sm"
          ng-class="{'active':state=='Ended'}"
          ng-click="listContext('ended')"
        >Ended</span>
        <span
          class="btn btn-sm"
          ng-class="{'active':!state}"
          ng-click="listContext('all')"
        >All</span>
      </div>
    </div>

    <div
      class="series__item"
      ng-repeat="series in filteredSeries = (data.series|seriesFilterByPropertyAndTerm:'seriesname':search|limitTo:paging)"
      ng-if="!state || series.status==state"
    >
      <a href="#/detail/{{series.seriesname|slugify}}/{{series.seriesid}}" ng-click="setDetail(series)">
        <div class="series__holder">
          <div class="series__title">
            {{series.seriesname}}
          </div>

          <div
            class="series__background"
            style="background-image: url('{{series.poster | imageThumb}}')"
          >
            <img
              ng-src="https://tvtracker.co.za/assets/img/overlay.png"
              alt="{{series.seriesname}}"
            />
          </div>

          <div
            title={{series.status}}
            class="series__status"
            ng-class="{'series__status--off':series.status=='Ended','series__status--on':series.status=='Continuing'}"
          ></div>
        </div>
      </div>
    </a>

    <div ng-hide="filteredSeries.length">
      <strong>No shows found</strong>
    </div>

    <div ng-hide="search.length" ng-click="pageUp()" class="text-center">
      <span class="btn btn-block">Load more</span>
    </div>
  </div>
</div>
