* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial;
  letter-spacing: 0.5px;
}

body {
  background: $white;
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
  &.title {
    border-bottom: 1px solid $grey-light;
    width: 100%;
  }
}

.glyphicon {
  min-width: 20px;
  text-align: left;
}

.loading-image__container {
  position: absolute;
  top: 50%;
  left: 50%;
  img {
    margin-top: -100px;
    margin-left: -100px;
  }
}

h1 {
  margin-bottom:0;
}