a.btn,
span.btn,
input.btn {
    display: inline-block;
    min-width: 200px;
    line-height: 40px;
    background: $btn-bg-color;
    border: 1px solid $grey-light;
    text-decoration: none;
    color: $grey-dark;
    @include border-radius(5px);
    @extend .text-center;

    &-block {
        display: block;
        margin: 10px;
    }

    &.btn-sm {
        min-width: 47px;
        line-height: 23px;
        height: 25px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 60%;
    }

    &:hover,
    &:active,
    &.active {
        color: $black;
        background: $btn-bg-active;
        online: 0;
    }

    &:active,
    &.active {
        box-shadow: inset 1px 1px 5px $grey;
    }
}
