// Vars
$btn-active-inset: #ddd;

// All button
a.btn,
span.btn,
input.btn {
    min-width: 200px;
    background: $btn-bg-color;
    border: 1px solid $grey-light;
    text-decoration: none;
    color: $grey-dark;
    @include border-radius(5px);
    @extend .text-center;

    &-block {
        display: block;
    }

    &.btn-sm {
        display: inline-block;
        min-width: 47px;
        font-size: 60%;
        &:active,
        &.active {
            box-shadow: inset 1px 1px 2px $btn-active-inset;
        }
    }

    &:hover,
    &:active,
    &.active {
        color: $black;
        background: $btn-bg-active;
        online: 0;
    }

    &:active,
    &.active {
        box-shadow: inset 1px 1px 5px $btn-active-inset;
    }
}

// Span sizing
a.btn,
span.btn {
    line-height: 40px;

    &-block {
        display: block;
        margin: 10px;
    }

    &.btn-sm {
        min-width: 47px;
        line-height: 23px;
        height: 25px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

// Input specifics
input.btn {
    &-block {
        min-width: 100%;
    }
}

// Grouped Buttons
.btn-group {
    @extend .text-center;
    @include border-radius(4px);
    border: 1px solid $grey-light;
    display: inline-block;
    width: auto;
    overflow: hidden;

    .btn {
        @include border-radius(0);
        display: inline-block;
        margin-right: -5px;
        margin-left: 0;
        border: none;
        border-right: 1px solid $grey-light;

        &:last-of-type {
            border: none;
            margin-right: 0;
        }

        &-sm {
            line-height: 26px!important;
        }
    }
}