header {
  .navbar {
    width: 100%;
    height: $navbar-height;
    line-height: $navbar-height;

    &.navbar-default {
      background: $navbar;
      border-bottom: 1px solid $black;
      box-shadow: 0 3px 4px -1px $blue;
    }

    &.navbar-fixed {
      position: fixed;
      top: 0;
    }

    & > .navbar-container {
      margin: 0 auto;
      max-width: $desktop;
      padding-left: 15px;
    }

    ul, li {
      list-style: none;
      color: $navbar-color;
      padding: 0;
      margin: 0;
    }

    li {
      float: left;
      display: inline-block;
      padding: 0 ($navbar-height / 2);
      border-left: 1px solid $navbar-separator;

      &:last-of-type {
        border-right: 1px solid $navbar-separator;
      }

      &:hover, &.active {
        background: $navbar-hover;
      }
    }

    // Mobile / Tablet menus
    @include respond-between('min','sm') {

      & > .navbar-container {
        padding-left: 0;
      }

      .burger-menu {
        $padding: 14px;
        cursor: pointer;
        background: $navbar;
        width: $navbar-height;
        padding: $padding 0 0 ($padding - 4px);
        height: $navbar-height;
        text-align: center;
        border-right: 1px solid $black;

        &.active {
          background: #333;
          color: $white;
        }

        // Burger menu slices
        &__slice {
          display: block;
          background: $grey-lightest;
          content: " ";
          height: 3px;
          width: ($navbar-height / 2.5);
          margin: 2px 3px;
          border-bottom: 1px solid $black;
          border-right: 1px solid $black;
          padding: 0;
          @include border-radius(1px);

          &:hover {
            background: $white;
          }
        }

        // Navbar menus
        &__content {
          width: 0;
          background: $grey-lightest;
          height: 100%;
          top: $navbar-height;
          display: block;
          position: fixed;
          top: 50px;
          left: -90%;
          width: 85%;
          box-shadow: 1px 1px 5px $grey;
          border: 1px solid $white;
          border-right: 1px solid $grey;
          border-bottom: 1px solid $grey;
          overflow: none;
          @include transition(left 0.3s ease);

          &.closed {
            left: -90%;
          }

          &.open {
            padding: 0;
            left: 0%;
          }

          li {
            width: 100%;
            color: $grey-dark;
            border: none;
            border-bottom: 1px solid $grey-light;
            border-top: 1px solid $white;

            &:first-of-type {
              border-top: none;
            }

            &:hover, &:active {
              color: $grey;
              background: $grey-lightest;
            }
          }
        }
      }
    }
  }
}