header {
  .navbar {
    width: 100%;
    height: 50px;
    line-height: 50px;

    &.navbar-default {
      background: $navbar;
      border-bottom: 1px solid $black;
      box-shadow: 0 3px 4px -1px $blue;
    }

    &.navbar-fixed {
      position: fixed;
      top: 0;
    }

    & > .navbar-container {
      margin: 0 auto;
      max-width: $desktop;
      padding-left: 15px;
    }

    ul, li {
      list-style: none;
      color: $navbar-color;
      padding: 0;
      margin: 0;
    }

    li {
      float: left;
      display: inline-block;
      padding: 0 25px;
      border-left: 1px solid $navbar-separator;

      &:last-of-type {
        border-right: 1px solid $navbar-separator;
      }

      &:hover, &.active {
        background: $navbar-hover;
      }
    }
  }
}