header {
  .navbar {
    width: 100%;
    height: $navbar-height;
    line-height: $navbar-height;

    &.navbar-default {
      background: $navbar;
      border-bottom: 1px solid $black;
      box-shadow: 0 3px 4px -1px $blue;
    }

    &.navbar-fixed {
      position: fixed;
      top: 0;
    }

    & > .navbar-container {
      margin: 0 auto;
      max-width: $desktop;
      padding-left: 15px;
    }

    ul, li {
      list-style: none;
      color: $navbar-color;
      padding: 0;
      margin: 0;
    }

    li {
      float: left;
      display: inline-block;
      padding: 0 ($navbar-height / 2);
      border-left: 1px solid $navbar-separator;

      &:last-of-type {
        border-right: 1px solid $navbar-separator;
      }

      &:hover, &.active {
        background: $navbar-hover;
      }
    }

    // Mobile / Tablet menus
    @include respond-between('xs','sm') {

      & > .navbar-container {
        padding-left: 0;
      }

      .burger-menu {
        $padding: 14px;
        cursor: pointer;
        width: $navbar-height;
        padding: $padding 0 0 ($padding - 4px);
        height: $navbar-height;
        text-align: center;
        border-right: 1px solid $black;

        &:hover {
          background: #333;
          color: $white;
        }

        &__slice {
          display: block;
          background: $grey-lightest;
          content: " ";
          height: 3px;
          width: ($navbar-height / 2.5);
          margin: 2px 3px;
          border-bottom: 1px solid $black;
          border-right: 1px solid $black;
          padding: 0;
          @include border-radius(1px);

          &:hover {
            background: $white;
          }
        }
      }
    }
  }
}