.scroll-to-top {
  position: fixed;
  z-index: 1001;
  right: 20px;
  bottom: 20px;
  @include opacity(0.8);
  width: 40px;
  height: 40px;
  background: $white;
  color: $black;
  border: 2px solid $black;
  line-height: 40px;
  text-align: center;
  box-shadow: 2px 1px 4px $grey;
  @include border-radius(4px);
}

.series {
  $image-width: 120px;
  $image-padding: 4px;
  $image-height: ($image-width * 1.47);

  &__input {
    padding: 0 5px;
  }

  &__detail {
    padding: 10px 0;
    margin-right: -10px;
    width: 50%;
  }

  &__rating {
    font-size: 14px;
    color: $blue;
  }

  &__item {

    a {
      text-decoration: none!important;
      color: $white;
    }

    display: inline-block;
    text-align: center;
    margin: 0 1% 2%;
    width: 48%;
    padding: 1px;
    //border: 3px solid red;

    // Desktop
    @include respond-from('lg') {
      width: 18%;
      margin: 0 1% 1%;
      border-color: lime;
    }

    // Tablet to Desktop
    @include respond-between('md','lg') {
      width: 23%;
      margin: 0 1% 1%;
      border-color: purple;
    }
    @include respond-between('sm','md') {
      width: 23%;
      margin: 0 1% 1%;
      border-color: purple;
    }

    // Phones
    @include respond-between('min','sm') {
      width: 48%;
      border-color: orange;
    }
  }

  &__holder {

    background: $white;
    padding: $image-padding;
    border: 1px solid $grey-light;
    box-shadow: 1px 1px 3px $grey-lightest;
    @include border-radius(4px);

    &:last-of-type {
      @extend clear-fix;
    }

    img {
      min-height: 187px;
      width: 100%;
      height: 100%;
      border: none;
      padding: 0;
      display: block;
    }
  }

  &__status {
    @include opacity(0.6);
    $triangle-size: 22px;
    height: $triangle-size;
    margin-top: -$triangle-size;
    font-size: 10px;
    color: $white;
    line-height: $triangle-size;

    &:after {
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      float: right;
      border-style: solid;
      border-width: 0 0 $triangle-size $triangle-size;
      border-color: transparent transparent $blue transparent;
    }
    &--off {
      &:after {
        border-color: transparent transparent $red transparent;
      }
    }
  }

  &__title {
    $series-title-height: 30px;
    position: relative;
    line-height: $series-title-height;
    font-size: 14px;
    overflow: hidden;
    height: $series-title-height;
    margin-bottom: -$series-title-height;
    color: $black;
    font-weight: bold;
    @include opacity(0.8);
  }

  &__background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.add-on {

  @extend %clearfix;
  $add-on-width: 40px;

  input {
    float: left;
    margin-right: -$add-on-width;
  }

  i, a {
    display: inline-block;
    float: left;
    height: $add-on-width;
    margin-top: 9px;
    background: white;
    width: $add-on-width;
    text-align: center;
    line-height: $add-on-width;
    border-radius: 5px;
    border: 1px solid #C5C5C5;

    &:hover, &a:active {
      background: $grey-lightest;
    }
  }
}