.series {
  $image-width: 120px;
  $image-padding: 4px;
  $image-height: ($image-width * 1.47);

  &__item {
    display: inline-block;
    text-align: center;
    margin: 0 1% 2%;
    width: 48%;
    padding: 1px;

    @include respond-between('md','lg') {
      width: 23%;
      margin: 0 1% 1%;
    }
    @include respond-from('lg') {
      width: 23%;
      margin: 0 1% 1%;
    }

    @include respond-between('sm','md') {
      width: 31%;
      margin: 0 1% 1%;
    }

    @include respond-between('min','sm') {
      width: 48%;
    }
  }

  &__holder {
    background: $white;
    padding: $image-padding;
    border: 1px solid $grey-light;
    box-shadow: 1px 1px 3px $grey-lightest;
    @include border-radius(4px);

    &:last-of-type {
      @extend clear-fix;
    }

    img {
      width: 100%;
      height: 100%;
      border: none;
      padding: 0;
      display: block;
    }
  }

  &__title {
    $series-title-height: 30px;
    position: relative;
    line-height: $series-title-height;
    font-size: 14px;
    overflow: hidden;
    height: $series-title-height;
    margin-bottom: -$series-title-height;
    color: $black;
    font-weight: bold;
    @include opacity(0.8);
  }

  &__background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}