// Colors
$white: #fff;
$black: #000;
$bad: #bada55;

$grey: #ccc;
$grey-light: #ddd;
$grey-medium: #999;

$navbar: #222;
$navbar-hover: #333;
$navbar-separator: #444;
$navbar-color: $white;

// Screen Sizes
$screen-xs: 320px;
$screen-sm: 767px;
$screen-md: 992px;
$screen-lg: 1200px;
$mobile: $screen-xs;
$tablet: $screen-sm;
$desktop: $screen-md;