// Colors
$white: #fff;
$black: #000;
$bad: #bada55;

$grey: #ccc;
$grey-dark: #222;
$grey-light: #ddd;
$grey-lightest: #efefef;
$grey-medium: #999;

$blue: #0683D6;

$navbar: #222;
$navbar-hover: #333;
$navbar-separator: #444;
$navbar-color: $white;

// Screen Sizes
$screen-xs: 320px;
$screen-sm: 767px;
$screen-md: 992px;
$screen-lg: 1200px;
$mobile: $screen-xs;
$tablet: $screen-sm;
$desktop: $screen-md;

// Inputs
$fh-focus-bg-color: $grey-lightest;

// Fonts
$font-path: '../fonts/';
$font-name: 'glyphicons-halflings-regular';

// Width / Height
$navbar-height: 50px;